<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>beautiful</string>
    <string>我去, 好6呀</string>
    <string>wonderful</string>
    <string>再来一首</string>
    <string>狗带了!!!</string>
    <string>66666666</string>
    <string>888888888</string>
    <string>11111111111</string>
    <string>你咋这么逗呢</string>
    <string>8888888</string>
    <string>一群逗比啊</string>
    <string>我爱你呀</string>
    <string>你多大啊</string>
    <string>是不是整容了</string>
    <string>第一</string>
    <string>儿子们考第几</string>
    <string>第二</string>
    <string>三分归元气</string>
    <string>七分靠打拼</string>
    <string>高考多少人啊</string>
    <string>哪个城市的</string>
    <string>哪个学校的</string>
    <string>还有90分就没办法了</string>
    <string>6666666666</string>
    <string>goods</string>
    <string>beautiful</string>
    <string>我去, 好6呀</string>
    <string>wonderful</string>
    <string>再来一首</string>
    <string>狗带了!!!</string>
    <string>66666666</string>
    <string>888888888</string>
    <string>11111111111</string>
    <string>你咋这么逗呢</string>
    <string>8888888</string>
    <string>一群逗比啊</string>
    <string>我爱你呀</string>
    <string>你多大啊</string>
    <string>是不是整容了</string>
    <string>第一</string>
    <string>儿子们考第几</string>
    <string>第二</string>
    <string>三分归元气</string>
    <string>七分靠打拼</string>
    <string>高考多少人啊</string>
    <string>哪个城市的</string>
    <string>哪个学校的</string>
    <string>还有90分就没办法了</string>
    <string>6666666666</string>
    <string>goods</string>
    
	<string>beautiful</string>
	<string>我去, 好6呀</string>
	<string>wonderful</string>
	<string>再来一首</string>
	<string>狗带了!!!</string>
	<string>66666666</string>
	<string>888888888</string>
	<string>11111111111</string>
	<string>你咋这么逗呢</string>
	<string>8888888</string>
	<string>一群逗比啊</string>
	<string>我爱你呀</string>
	<string>你多大啊</string>
	<string>是不是整容了</string>
	<string>第一</string>
	<string>儿子们考第几</string>
	<string>第二</string>
	<string>三分归元气</string>
	<string>七分靠打拼</string>
	<string>高考多少人啊</string>
	<string>哪个城市的</string>
	<string>哪个学校的</string>
	<string>还有90分就没办法了</string>
	<string>6666666666</string>
	<string>goods</string>
</array>
</plist>
